
<div class="row pagingWrapper1">
    <div class="pull-left">
        <div class="dataTables_info pageInfo" id="datatable-icons_info">@*Showing 11 to 20 of 57 entries*@</div>
    </div>
    <div class="col-sm-12">
        <div class="pull-right">
            <div class="dataTables_paginate paging_bs_normal ">
                <ul class="pagination">
                    <li class="prev disabled page-item">
                        <a class="page-link" href="javascript:void(0)">&laquo;</a>
                    </li>
                    <li class="page-item next"><a class="page-link" href="javascript:void(0)">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
